
.btn {
        width: 173px;
        height: 56px;
        display: flex;
        padding: 15px 60px 15px 60px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 200px;
        border: 1px solid black;
        background: transparent;
        color: black;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.5%;
        white-space: nowrap;
        transition: all 250ms ease-in-out;
        margin: 0 auto;
        margin-top: 24px;
    }

.btn:hover {
        background-color: rgb(216, 67, 67);
        color: white;
    }

.btn:disabled {
    cursor: none;
    pointer-events: none;
    background-color: rgb(192, 192, 192);
}

