.cont {
  position: relative;
}


.title {
    margin-bottom: 30px;
}
.title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 540px;
  color: black;
  border-radius: 26px;
  left: 0%;
  top: 40px;
  background-color: rgba(118, 118, 118, 0.349);
}

.list {
display: flex;
flex-direction: column;
gap: 12px;
}

.listItem {
display: flex;
justify-content: space-between;
}

.formType {
    text-transform: capitalize;
}
