.descrCont {
    margin-top: 24px;
    margin-bottom: 24px;
}

.descriptionShort {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 525px;

}

.descriptionFull {
 max-width: 1312px;
}