.container {

  margin: 0 auto;
  background-image: url(../HomePage/assets/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding-left: 64px;
}

.container h1 {
  color: rgb(247, 247, 247);
font-size: 48px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}

.container p {
  color: rgb(247, 247, 247);
font-size: 24px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}